## Classification Problem

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('fish.csv')

In [7]:
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [9]:
df = df[['Weight', 'Length1', 'Length2', 'Length3', 'Height', 'Width', 'Species']]

In [10]:
# Independent and Dependent features
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [11]:
X.head()

   Weight  Length1  Length2  Length3   Height   Width
0   242.0     23.2     25.4     30.0  11.5200  4.0200
1   290.0     24.0     26.3     31.2  12.4800  4.3056
2   340.0     23.9     26.5     31.1  12.3778  4.6961
3   363.0     26.3     29.0     33.5  12.7300  4.4555
4   430.0     26.5     29.0     34.0  12.4440  5.1340

In [12]:
y.head(20)

0     Bream
1     Bream
2     Bream
3     Bream
4     Bream
5     Bream
6     Bream
7     Bream
8     Bream
9     Bream
10    Bream
11    Bream
12    Bream
13    Bream
14    Bream
15    Bream
16    Bream
17    Bream
18    Bream
19    Bream
Name: Species, dtype: object

In [13]:
# Train Test Split
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [15]:
# Implement Random Forest classifier
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier()
classifier.fit(X_train,y_train)

RandomForestClassifier()

In [16]:
# Prediction
y_pred=classifier.predict(X_test)

In [17]:
# Check Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)

In [18]:
score

0.6666666666666666

In [19]:
# Create a Pickle file  
import pickle
pickle_out = open("fish_classifier.pkl","wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [20]:
import numpy as np

In [22]:
classifier.predict([[234.0, 22.2 , 25.4, 30, 11.52, 4.0200]])

array(['Bream'], dtype=object)

In [21]:
df.head(2)

   Weight  Length1  Length2  Length3  Height   Width Species
0   242.0     23.2     25.4     30.0   11.52  4.0200   Bream
1   290.0     24.0     26.3     31.2   12.48  4.3056   Bream